@import "header";

@font-face {
  font-family: sourcePro;
  src: url("../../assets/fonts/source-sans-pro/SourceSansPro-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: sourcePro;
  src: url("../../assets/fonts/source-sans-pro/SourceSansPro-Bold.ttf");
  font-weight: bold;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sourcePro;
  font-weight: 400;
}
